<html layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>비밀번호 찾기</h4>
            <h6>가입 시 입력한 이름과 이메일을 입력하면 해당 이메일로 임시 비밀번호가 발송됩니다.</h6>
            <h6>해당 임시 비밀번호로 로그인 후 비밀번호를 변경해주시기 바랍니다.</h6>
        </div>
    </div>
    <form th:action="@{/member/reset/pwd}" th:object="${findPwdDto}" method="post">
        <div th:if="${param.error}">
            <div class="alert alert-danger pb-0">
                <p th:text="${param.error}"></p>
            </div>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" th:field="*{name}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">비밀번호 찾기</button>
    </form>
</div>


</html>